{{ define "title" }}{{ .Title }} &ndash; {{ .Site.Title }}{{end}}
{{ define "main" }}
<article>
    <header>
        {{ range $z, $b := .Params.categories }}
                {{ if $z }}, {{ end }}
                <a href="/categories/{{$b}}">{{ $b | title}}</a>
        {{ end }}
        {{- with .Params.images }}
        <figure data-mode="aspect-fit">
            <img src="{{ index . 0 | absURL }}" 
            srcset="{{ replace (index . 0) "https://" "https://i0.wp.com/"}}?h=590 590w"
            sizes="(min-width: 640px) 590px, 100vw" alt="{{ $.Params.caption | markdownify}}" width="{{ $.Params.width }}" height="{{ $.Params.height }}">
            <figcaption>{{ $.Params.caption | markdownify}}</figcaption>
        </figure>
        {{ end -}}
        <h1>{{ .Title }}</h1>
        <p class="op-kicker">{{ .Params.description | markdownify}}</p>
        {{ range $i, $t := .Params.authors }}
                {{ if $i }}, {{ end }}
                <address>{{ $t}}</address>
        {{ end }}
        <time class="op-published" dateTime="2016-2-04T08:00">February 4th 2016, 8:00 AM</time>
        <time class="op-modified" dateTime="2016-2-04T08:00">February 4th 2016, 8:00 AM</time>
    </header>
    {{.Content}}
</article>
{{ end }}