{{ define "title" }}{{ .Title | title }} &ndash; {{ .Site.Title }}{{end}}
{{ define "main" }}
<main id="content" class="py-3">
<article class="container-fluid">
    <header class="row">
        <div class="col-12 col-lg-8 mx-auto">

        <nav aria-label="Breadcrumb">
            {{- with .Params.categories }}
            <ol class="breadcrumb mb-0 fw-bold">
                <li class="breadcrumb-item" aria-current="page">
                    <a href="/categories/{{ index . 0 }}/">{{ index . 0 | title }}</a>
                </li>
            </ol>
            {{ end }}
        </nav>
            {{- with .Params.images }}
            <figure data-mode="aspect-fit" class="row mx-n1 g-0 p-0">
                <img class="img-fluid" src="{{ index . 0 | absURL }}" srcset="{{ replace (index . 0) "https://" "https://i0.wp.com/" }}?h=590 590w" sizes="(min-width: 640px) 590px, 100vw"
                    alt="{{ $.Params.caption | markdownify}}" width="{{ $.Params.width }}"
                    height="{{ $.Params.height }}">
                <figcaption class="text-muted small px-2">{{ $.Params.caption | markdownify}}</figcaption>
            </figure>
            {{ end -}}
            <h1>{{ .Title | title }}</h1>
            <p class="op-kicker">{{ .Params.description | markdownify}}</p>
            {{ partial "share.html" . }}
            {{ range $i, $t := .Params.authors }}
            {{ if $i }}, {{ end }}
            <a class="d-inline-block" href="/authors/{{$t | urlize }}"><address class="fw-bold">{{ $t}}</address></a>
            {{ end }}
            <br>
            <time class="op-published d-none" dateTime="{{ .Date.Format " 2006-01-02T15:04:05.00Z" | safeHTML }}">{{.Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}</time>
            <span>Updated: </span>
            <time class="op-modified d-inline" dateTime="{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}">{{.Lastmod.Format "January 2, 2006" }}</time>
        </div>
    </header>
    {{ partial "ads_1.html" . }}
    <section class="row my-3">
        <div class="col-12 col-lg-8 mx-lg-auto">
            {{.Content}}
        </div>
    </section>
    <hr class="px-0 mx-n1">
    <footer class="row my-3">
        <div class="col-12 col-lg-8 mx-lg-auto">
            {{ with (.GetTerms "categories") }}
            <h3 class="h6 d-inline mb-0">Categories</h3>
            <span class="d-inline">: </span>
            <p>{{ range $i, $t := . }}{{ if $i }},&nbsp;{{ end }}<a href="{{ $t.Permalink }}">{{ $t.LinkTitle | title }}</a>{{ end }}</p>
            {{ end }}
            {{ with (.GetTerms "tags") }}
            <h3 class="h6 d-inline mb-0">Tags</h3>
            <span class="d-inline">: </span>
            <p>{{ range $i, $t := . }}{{ if $i }},&nbsp;{{ end }}<a href="{{ $t.Permalink }}">{{ $t.LinkTitle | title }}</a>{{ end }}</p>
            {{ end }}
            {{ with (.GetTerms "stories") }}
            <h3 class="h6 d-inline mb-0">Stories</h3>
            <span class="d-inline">: </span>
            <p>{{ range $i, $t := . }}{{ if $i }},&nbsp;{{ end }}<a href="{{ $t.Permalink }}">{{ $t.LinkTitle | title }}</a>{{ end }}</p>
            {{ end }}
            {{ partial "share.html" . }}
            {{ partial "related.html" . }}
        </div>
    </footer>
</article>
</main>
{{ end }}