<figure data-mode="aspect-fit" class="row">
    {{ with .Get "link" }}<a href="{{ . }}">{{ end }}
        <img class="lazyload img-fluid gx-0" src="{{ replace (.Get "src") "https://" "https://i0.wp.com/" }}?w=10" 
        data-srcset="{{ replace (.Get "src") "https://" "https://i0.wp.com/" }}?h=590" data-sizes="auto"
        {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" }}{{ end }}"{{ end }} 
        {{- with .Get "width" }} width="{{ . }}"{{ end -}}
        {{- with .Get "height" }} height="{{ . }}"{{ end -}}/>
    {{ if .Get "link" }}</a>{{ end }}
    {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr") }}
    <figcaption class="text-muted small px-2">
        {{ if or (.Get "caption") (.Get "attr") }}<p>
        {{ .Get "caption" }}
        {{ with .Get "attrlink" }}<a href="{{ . }}"> {{ end }}
            {{ .Get "attr" }}
        {{ if .Get "attrlink" }}</a> {{ end }}
    </p>{{ end }}
    </figcaption>
    {{ end }}
</figure>